@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: black;
}

img{
    width: 300px;
    background-image: url(../images/fondo.png);
}